.col-md-12{
    text-align: center;
}

.classification{
    background-color: #cceeff;
}

.Container{
    align-items: center;
    display: inline-flex;
}

.ContainerNew{
    margin-left: 80px;
}

.Classification-header{
    padding-top: 30px;
}

.Classification-content{
    padding-top: 10px;
    padding-bottom: 30px;
}