.sticky{
    position: fixed;
    top:0;
    width: 100%;;
    z-index: 2;
}

#navbarSupportedContent{
    display: flex;
    justify-content: space-evenly;
}

.loginbutton {
    background-color: #00b4d8;
    padding: 5px 20px;
    color: antiquewhite;
}

Link:hover{
    text-decoration: none;
}

