.sticky{
    position: fixed;
    top:0;
    width: 100%;;
    z-index: 2;
}

#navbarSupportedContent{
    display: flex;
    margin-left:60px;
}

.loginbutton {
    padding: 5px 20px;
    background-color: #e0fbfc;
}


Link:hover{
    text-decoration: none;
}

.MainClassLogin{
    border: 1px solid black;
}

.navbar-brand{
    margin-left: 30px;
}

.gap-fitting{
    gap: 2em;
}

.gap-fitting li:hover{
    background-color:#dee2e6;
}