.sticky{
    position: fixed;
    top:0;
    width: 100%;;
    z-index: 2;
}

#navbarSupportedContent{
    display: flex;
    justify-content: space-evenly;
}

.loginbutton {
    color: whitesmoke;
}

