.AboutUs-Heading{
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    background: linear-gradient(89.21deg,#1371c3 -3.77%,rgba(36,188,148,.8) 140.43%);
}

.AboutDescription {
    margin-left: 150px;
    margin-right: 150px;
}

.Container-mission{
    border: 1px solid #b3d9ff;
    padding: 20px 40px;
    border-radius: 6px;
}

.Mission-Container{
    display: flex;
    flex: 1  21%;
    margin-left: 150px;
    margin-right: 150px;
    
}