.ServiceBannerMain{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    
}

.servicebanner {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
}

.serviceBannerBox{
    border: 1px solid black;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    flex: 1 0 30%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.service-banner-description {
    flex-wrap: wrap;
}

.ServiceMainHeading{
    padding-top: 20px;
    text-align: center;
}