.ServiceBannerMain{
    border: 1px solid black;
    margin: 5px;
}

.servicebanner {
    display: flex;
    flex-wrap: wrap;
}

.serviceBannerBox{
    border: 1px solid black;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    flex: 1 0 30%;
    margin: 20px;
}

.service-banner-description {
    flex-wrap: wrap;
}

.ServiceMainHeading{
    padding-top: 20px;
    text-align: center;
}