.DataStory-Heading{
    background: linear-gradient(89.21deg,#1371c3 -3.77%,rgba(36,188,148,.8) 140.43%);
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 5px;
    text-align: center;
}


.DataStory-Heading{
    text-align: center;
}

.DataStory-Description{
    margin-left: 110px;
    margin-right: 110px;
}