.contactusform-main{
    text-align: center;
}

.contactusform-header{
    margin:20px;
    margin-left: 70px;
    margin-right: 70px;
}

.contactusform-header p{
    margin-left: 70px;
    margin-right: 75px;
}

input{
    padding: 10px;
}

.submit-button{
    border: 1px solid #6d6875;
    padding: 6px 20px;
    margin-left: 68px;
}

textarea{
    resize: none;
}