.B2b-category-header{
    text-align: center;
    font-weight: 600;
}

.B2b-sub-category-header{
    text-align: center;
}

.row1-widget{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.row1-widget span {
    padding-bottom: 20px;
}

.TypeOfDataBase{
    margin: 5px;
    border: 1px solid black;
}

.B2b-category-header{
    padding-top: 20px;
}