.B2b-category-header{
    text-align: center;
    font-weight: 600;
}

.B2b-sub-category-header{
    text-align: center;
}

.row1-widget{
    display: flex;
    flex-wrap: wrap;
    margin: 6px;
    margin-left: 50px;
}


.B2b-category-header{
    padding-top: 20px;
}