.B2b-category-header{
    text-align: center;
    font-weight: 600;
    color:#004dcf;
}

.B2b-sub-category-header{
    text-align: center;
    color:blue;
}

.row1-widget{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.row1-widget span {
    padding-bottom: 20px;
}

.TypeOfDataBase{
    background-color: #b3d9ff;
}

.B2b-category-header{
    padding-top: 20px;
}