.widget-container{
    border: 1px solid black;
    display: block;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}

li{
    list-style-type: none;
}

.widget-catgeory-list {
    padding-top: 10px;
}

