.datamining{
    margin-top: 65px;
}

.datamining-heading{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    background: linear-gradient(89.21deg,#1371c3 -3.77%,rgba(36,188,148,.8) 140.43%);
}

.datamining-about{
    display: flex;
}

.datamining-image{
    padding-top: 50px;
}
